footer
  p
    strong
      | Sidetime
      | Read our&nbsp;
      a(href="/privacy" target="_self") Privacy Policy

  p.smallprint
    | Some smallprint here
  p.smallprint
    | Want to talk to us?
    | Some contact info here
