.container
  include shared/header
  .jumbotron
    h1.h1 Sidetime
    p.subtext Connect with expert filmmakers
    .row
      .col-md-6
        h2 lorem ipsum
        material-button.material-theme-green.signup(ng-click="login('google')") Create Your Account
      .col-md-6
        h2 something else
include shared/footer

